/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 20px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  margin-bottom: 10px;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 50px;
  color: #fff;
  text-align: center;
}

header nav {
  padding-bottom: 10px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li:last-child {
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 60%;
}

form div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  /* -------  Navigation ------- */

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  header nav {
    padding-bottom: 10px;
    
  }

  header nav ul li {
    list-style-type: none;
  }

  header nav ul li a {
    padding: 0 20px 0 0;
  }
  header nav ul li:last-child a {
    padding-right: 0;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    border: 2px solid #ff385c;
    padding: 10px;
  }

  form div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
  }

  form label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  form select,
  form input {
    margin-bottom: 0px;
  }

  .group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    margin-bottom: 0px;
    margin-right: 10px;
  }

  .item-double {
    flex: 2;
  }
}
